/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* cheatsheat: jonibologna.com/content/images/flexboxsheet.pdf */
:root
{
  background-color: #0D171A;
  color: #B8BAAD;
}

:root h1,h2,h3,h4{
  font-family: "Source Sans Pro";
}

:root h1, h2{
  text-shadow: 5px 3px 1px #184A45;
  color: #eceee3;
}

:root p{
  font-family: "Roboto";
}

.tab{
  font-size: 64px;
  text-align: center;
  color: #eceee3;
}

.titleLine{
 border: 0;
 clear:both;
 display:block;
 width: 96%;
 background-color: #eceee3;
 height: 1px;
}

.container
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  max-width: 100%;
}

.video{
  max-width: 90%;
}

.imageContainer{
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.links
{
  color:orange;
}

.image
{
  max-width: 80%;
}

.projectSection{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1100px;
  padding: 10px;
  border-radius: 10%;
  border: 2px solid #417571;
}

.project
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0px 25px 10px 25px;
  max-width: 300px;
}

.recordingBox
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  max-width: 100%;
}

.hoverImage{
  -webkit-transition:  0.5s;
  -o-transition:  0.5s;
  transition:  0.5s;
  transform: scale(1);
  max-width: 100%;
}

.projectImage{
  border-radius: 5%;
  border: 3px dotted #1A4C50;
}

.hoverImage:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.galleryImage
{
  text-align: center;
  max-width: 40%;

  border-radius: 10%;
}

audio{
  display: block;
  max-width: 100%;
}

p{
  text-align: left;
  font-size: 20px;
}

h2{
  font-size: 26px;
  text-align: left;
}

h1{
  font-size: 32px;
}



article{
   max-width: 900px;
}

article h2{
  font-size: 26px;
  text-align: left;
}

article ol{
  text-align: left;
  font-size: 18px;
}

article p{
  font-size: 20px;
}

#welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  margin-top: 70px;
  line-height: 1.6;
  max-width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#welcomeImage{
  float: left;
  max-width: 15%;
  max-height: 15%;
  border-radius: 50%;
  margin: 0 30px 0 30px;
  min-width: 200px;
  border: 2px solid #eceee3;
}

#welcomeMessage{
  text-align: left;
  min-width: 300px;
  max-width: 700px;
}

#welcomeMessage p{
  font-size: 20px;
}

#projectsSection .galleryImage{
  max-width: 70%;
}
#projectsPage h2{
  text-align: center;
}


#skills{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;

}
#skillsTab{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100%;
  min-width: 40%;
  text-align: center;
}

#skillsTab h3{
  text-align: center;
}

#skillsTab h4{
  margin: 5px;
  font-size: 20px;
  max-width: 100%;
}

#setSkills{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-width: 100%;
  text-align: center;
}

.skillResult{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-content{
  display: inline-block;
  padding: 20px;
  max-width: 1200px;
  -webkit-animation-name: modalOpen;
          animation-name: modalOpen;
  -webkit-animation-duration:0.7s;
          animation-duration:0.7s;
}

.closeBtn
{
  color:#ccc;
  float: right;
  font-size: 30px;
}

.closeBtn:hover,.closeBtn:focus{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.arrow{
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: scale(2);
}

.arrow:hover,.arrow:focus{
  color: rgb(150,150,150);
  text-decoration: none;
  cursor: pointer;
}

.right{
  position: absolute;
  top: 50%;
  right: 10%;
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left{
  position: absolute;
  top: 50%;
  right: 90%;
  -ms-transform: rotate(135deg);
      transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

@-webkit-keyframes modalOpen{
  from{opacity: 0}
  to {opacity: 1}
}

@keyframes modalOpen{
  from{opacity: 0}
  to {opacity: 1}
}

@-webkit-keyframes modalClose{
  from{opacity: 1}
  to {opacity: 0}
}

@keyframes modalClose{
  from{opacity: 1}
  to {opacity: 0}
}

.contactContainer{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.footer{
  position: absolute;
  width: 100%;
  padding: 10px 0px 10px 0px;
  margin: 0;
  left: 0;
  border-top: 7px groove #184A45;
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
  background: #0D171A;
}
